:root {
    --court-lines: #ffff;
    --court-squares: #2f5998;
    --slate-gray: #6B818C;
    --yellow: #F3FF10;
}

.call-to-action h1 {
    padding-top: 2rem;
    color: var(--court-lines);
}

.call-to-action {
    background-color: var(--court-squares);
    text-align: center;
    height: 100%;
    /* padding: 2rem; */
    margin: auto;
    width: 100%;
}

.net {
    height: 5px;
    width: 100%;
    background-color: black;
    box-shadow: 0px 4px 8px 1px gray;
}

.court-squares {
    margin: auto;
    max-width: 1015px;
    display: grid;
    grid-template-columns: 5px 500px 5px 500px 5px;
}

.court-line-horizontal {
    margin: auto;
    max-width: 1015px;
    height: 5px;
}


.court-line-vertical {
height: 400px;
background-color: var(--court-lines);
}

.court-square {
    background-color: var(--court-squares);
}

.court-lines-small-vertical {
    width: 5px;
    height: 204px;
    background-color: var(--court-lines);
    /* border: 1px solid black; */
}

.kitchen {
    position: relative;
    max-width: 1005px;
    margin: auto;
}

.ball {
    position: absolute;
    top: 5px;
    height: 30px;
    width: 30px;
    margin: 0;
    /* background-color: var(--yellow); */
    border-radius: 100%;
    animation: bounce 5s infinite ease;
}

@keyframes bounce {
    0%{left: 50px; top: -400px;}
    20%{left: 700px; top: 500px;}
    40%{left: 800px; top: -370px;}
    60%{left: 100px; top: 500px;}
    80%{left: 700px; top: -100px;}
    90%{left: 750px; top: 500px;}
    100%{left: 50px; top: -400px;}
  }