:root {
    --court-lines: #ffff;
    --court-squares: #2f5998;
    --slate-gray: #6B818C;
    --yellow: #F3FF10;
}

.call-to-action h1 {
    padding-top: 2rem;
    color: var(--court-lines);
}

.call-to-action {
    background-color: var(--court-squares);
    text-align: center;
    height: 100%;
    /* padding: 2rem; */
    margin: auto;
    width: 100%;
}

.create-account-btn {
    height: 60px;
    max-width: 300px;
    display: block;
    margin: 0.5rem auto;
}

.net {
    height: 5px;
    width: 100%;
    background-color: black;
    box-shadow: 0px 4px 8px 1px gray;
}

.court-squares {
    margin: auto;
    max-width: 1015px;
    display: grid;
    grid-template-columns: 1fr 100fr 1fr 100fr 1fr;
}

.court-line-horizontal {
    margin: auto;
    max-width: 1015px;
    height: 5px;
}


.court-line-vertical {
height: 400px;
background-color: var(--court-lines);
}

.court-square {
    width: 100%;
    background-color: var(--court-squares);
}

.court-lines-small-vertical {
    width: 5px;
    height: 204px;
    background-color: var(--court-lines);
    /* border: 1px solid black; */
}

.kitchen {
    height: 175px;
    position: relative;
    max-width: 1005px;
    margin: auto;
}

.ball {
    position: absolute;
    top: 5px;
    height: 30px;
    width: 30px;
    margin: 0;
    /* background-color: var(--yellow); */
    border-radius: 100%;
    animation: bounce 5s infinite ease;
}

  @keyframes bounce {
    0% { left: 7%; top: -200%; }
    20% { left: 80%; top: 250%; }
    40% { left: 75%; top: -175%; }
    60% { left: 35%; top: 210%; }
    80% { left: 45%; top: -190%; }
    90% { left: 75%; top: 215%; }
    100% { left: 7%; top: -200%; }
  }
  