@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --court-blue: #2f5998;
    --yellow: #F3FF10;
    --night: #00120B;
    --dark-slate-gray: #35605A;
    --slate-gray: #6B818C;
    --content-font: "Roboto", sans-serif;
    --display-font: "Bungee", sans-serif;
    --border-radius: 5px;
}

main {
    margin-top: 5rem;
}

h1, h2, h3, h4 {
    font-family: var(--display-font);
}

h1 {
    font-size: 30pt;
}

p {
    font-family: var(--content-font);
}

.logo {
    position: relative;
    top: -60px;
    height: 200px;
    max-width: 200px;
    background-color: transparent;
}

header {
    z-index: 5;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    height: 75px;
    margin: 0 auto;
    box-shadow: 1px 4px 15px 1px var(--slate-gray);
}

.account-btn {
    margin: 0.5rem;
    height: 60px;
    width: 125px;
}

/* ======= NAVIGATION ====== */
nav>* {
    font-family: var(--display-font);
    font-size: 16pt;
}

nav>ul {
    display: flex;
    justify-content: space-evenly;
}

.nav-link>a {
    display: block;
    margin: 0.25rem;
    padding: 1rem;
    border: 2px solid black;
    text-align: center;
}

.nav-link>a:hover {
    .nav-pickleball {
        display: inline;
    }
}

.nav-pickleball {
    display: none;
    height: 30px;
}

/* ========== BUTTON ======== */
.compButton {
    height: 100%;
    width: 100%;
    min-height: 50px;
    font-family: var(--display-font);
    font-size: 16pt;
    background-color: var(--yellow);
    box-shadow: 1px 1px 4px 1px var(--slate-gray);
    border-radius: var(--border-radius);
}

.compButton:hover {
    background-color: var(--dark-slate-gray);
    color: white;
    transition: 0.3s;
}

.compButton:not(:hover) {
    transition: 0.3s;
}
/* ======= BODY ======== */

main {
    height: 100%;
}


/* ===== FOOTER ====== */

footer {
    color: white;
    height: 200px;
    width: 100%;
    background-color: var(--night);
}

footer p {
    padding-top: 1rem;
    max-width: 1000px;
    margin: auto;
}

/* ===== REGISTER ====== */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    z-index: 50;
  }

.overlay .pop-up {
    width: 80%;
    border-radius: var(--border-radius);
    margin: 2rem;
    background-color: white;
    max-width: 500px;
}

.form input[type="text"], .form input[type="number"], .form select, .form input[type="password"], .form input[type="email"] {
    border: 2px solid var(--night);
    padding: 1rem;
    border-radius: var(--border-radius);
    font-family: var(--content-font);
    font-size: 16pt;
    margin: 2rem auto;
    display: block;
    width: 90%;
}

.form input[type="submit"] {
    display: block;
    margin: 2rem auto;
    width: 60%;
    font-family: var(--content-font);
}

.pop-up h2 {
    text-align: center;
    font-size: 18pt;
    margin: 1rem;
}

.pop-up p {
    text-align: center;
    margin: 1rem;
}

.pop-up a {
    text-decoration: underline;
    color: var(--court-blue);
}

.exit {
    background-color: white;
    position: relative;
    border-radius: var(--border-radius);
    border: 1px solid var(--night);
    padding: 0 0.5rem 0 0.5rem;
    margin: 1rem 0 0 1rem;
    font-family: var(--display-font);
    font-size: 20pt;
    color: var(--dark-slate-gray);
    z-index: 100;
}

.exit:hover {
    background-color: var(--dark-slate-gray);
    color: white;
    transition: 0.3s;
}


/* ======= FIND PAGE ========== */

.locationForm input[type="zip"] {
    border: 2px solid var(--night);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    font-family: var(--content-font);
    font-size: 16pt;
    margin: 2rem auto;
    width: 50%;
}

.locationForm {
    margin: auto;
}

.location {
    padding: 1rem;
    box-shadow: 1px 1px 4px 1px var(--slate-gray);
    margin: 1rem auto;
    border-radius: var(--border-radius);
}

.horizontal-line {
    height: 5px;
    background-color: var(--court-blue);
    width: 50%;
    border-radius: var(--border-radius);
    margin: 1rem auto 0;
}

.results {
    margin: 1rem auto;
}

/* ==== RALLY CARD ===== */

.rally-btn {
    margin: 1rem;
    width: 20%;
}

.rallyInfo {
    width: 80%;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 4px 1px var(--slate-gray);
}

.rallyInfoItems {
    gap: 15px;
    justify-content: space-evenly;
}

.rallyInfoItems li {
    margin: 0.5rem 0 0.5rem 0;
    font-family: var(--content-font);
}

/* ==== CREATE PAGE ==== */

.createMain {
    margin: auto;
}

.createForm label {
    position: relative;
    margin: 0  0 0 3rem;
    top: 5px;
}

.createForm input[type="text"], .createForm input[type="number"], .createForm select {
    border: 2px solid var(--night);
    padding: 1rem;
    border-radius: var(--border-radius);
    font-family: var(--content-font);
    font-size: 16pt;
    margin: 1rem auto;
    display: block;
    width: 90%;
}

.submit-btn {
    max-width: 90%;
    display: block;
    margin: 1rem auto;
}